.note-show{
    .item{
        margin-bottom: .2rem;       
        opacity: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .item-show{              
        animation: showOut 1s ease-in-out  both;
    }
    .item-hide{              
        animation: outs 1s ease-in-out  both;
    }
}
@keyframes showOut{
    0%{        
        opacity: 0;        
        transform: translateY(1rem) scale(2);       
    }
    80%{
        opacity: .8;  
    }
    100%{
        opacity: 1;        
        transform: translateY(0) scale(1);   
    }
}
@keyframes outs{        
    0%{
        opacity: 1;        
        transform: translateY(0) scale(1);   
    }
    80%{
        opacity: .8;  
    }
    100%{        
        opacity: 0;        
        transform: translateY(-1rem) scale(.6);       
    }
}
.note{     
    font-family: "微软雅黑";
    max-width: 5.81rem;    
    background-color:#0025FF;
    box-sizing: border-box;
    display: inline-block;   
    padding:.16rem .4rem .16rem .45rem;
    color:#fff;    
    position: relative;  
    .font{
        line-height: .4rem;
        color:#fff;
        font-size: .3rem;
        span{
             color:#FFEA00;
        }
        .num{
            font-size: .4rem;           
            padding: 0 .1rem;
        }
    }  
    .mark{
        font-size:0.8rem;
        position: absolute;
        width: .23rem;
        height: .19rem;
        background-size: .23rem auto;
    }
    .left{
        top:.1rem;
        left: .1rem;
        background-image: url(./../../asset/svg/left-note.svg);
    }
    .right{
        bottom:.1rem;
        right: .1rem;
        background-image: url(./../../asset/svg/right-note.svg);  
    }
}