@font-face {
    font-family: "FZBangShuXingS-R-GB";
    src: url("FZBANGSXJW.eot"); /* IE9 */
    src: url("FZBANGSXJW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("FZBANGSXJW.woff") format("woff"), /* chrome, firefox */
    url("FZBANGSXJW.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    
    font-style: normal;
    font-weight: normal;
}


