.suiji-center{
    height: 100vh;  
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.suiji-sence{
    flex-grow:0;   
    .floor1{      
        margin: .4rem .3rem .1rem 0;
    }
    .floorPic{
        img{
            width:100%;
        }
        .flower{
            width: 2.04rem;
            width: auto;
        }
    }
   
}