.scene{
    height: 100vh;
    padding:1rem .3rem 0;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
   .center{
    flex-grow:0;      
    .floor1{
        margin-bottom: 0.2rem;
    }
   }
}