.scene{
    height: 100vh;
    padding:0 .3rem;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:1.9rem;
    box-sizing: border-box;
   .center{
    flex-grow:0;   
    width: 100%;
    .floor1{
        margin-bottom: 0.2rem;
    }
   }
}